@font-face {
  font-family: Georgia;
  src: url('../main/../../assets/fonts/9605.ttf');
}

@font-face {
  font-family: Arial;
  src: url('../main/../../assets/fonts/9041.ttf');
}

/* color constants */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

/* Header */
.header {
  width: 100%;
  position: absolute;
  top: 60px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.logo__title {
  color: #f1cdb3;
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.92px;
  line-height: 35.2px;
}

.logo__subtitle {
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.3px;
  margin: 11px 0 0 5px;
}

.menu {
  width: 443px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #cdcdcd;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.list__item--active {
  color: #fafafa;
  text-decoration: none;
  border-bottom: 2px solid #f1cdb3;
}

/* Main */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 180px;
  background: url(../../assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 85px;
}

.section-content__title {
  max-width: 310px;
  height: 114px;
  color: #ffffff;
  font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 57.2px;
  margin-bottom: 42px;
}

.section-content__text {
  width: 460px;
  color: #cdcdcd;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 41px;
}

.btn {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: #f1cdb3;
  color: #292929;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1.02px;
  line-height: 22.1px;
  cursor: pointer;
  outline: none;
}

.hero-img {
  margin-left: 40px;
}

/* About */
.about {
  display: flex;
  padding: 94px 0 100px 0;
}

.about__image-wrapper {
  width: 100%;
  padding-right: 120px;
}

.about__content {
}

.about__title {
  width: 370px;
  height: 90px;
  font-family: Georgia;
  font-size: 35px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 2.1px;
  text-align: left;
  color: #545454;
}

.about__description {
  width: 430px;
  height: 96px;
  font-family: Arial;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
}

.about__paragraph {
  padding: 0 0 25px 0;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 1100px) {
  .hero__content {
    flex-direction: column;
    align-items: center;
  }
}
